[Unit]
Description=Icecream worker
After=network.target

# If you need to customize the scheduler parameters,
# use systemctl edit icecream-scheduler
# and redefine the [Service] section as needed.
[Service]
User=icecream
Group=icecream
ExecStart=/usr/sbin/iceccd --nice 5 -u icecream -b /var/cache/icecream  -vv
#StandardOutput=journal
#StandardError=journal
SyslogIdentifier=icecc-daemon

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
