[Unit]
Description=Icecream worker
After=network.target

# If you need to customize the scheduler parameters,
# use systemctl edit icecream-scheduler
# and redefine the [Service] section as needed.
[Service]
ExecStart=/usr/sbin/iceccd -u icecream -b /var/cache/icecream --nice 5 -vv
#StandardOutput=journal
#StandardError=journal
SyslogIdentifier=icecc-daemon

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
